
.custom-accordion {
    margin: 20px;
  }
  

  .custom-accordion-item {
    background-color: #96d66c; 
    border: 1px solid #dee2e6;
    border-radius: 8px;
    margin-bottom: 5px;
  }
  
  
  .custom-accordion-header {
    background-color: #25721e; 
    color: #7a9872;
    padding: 5px;
    cursor: pointer;
  }
  

  .custom-accordion-body {
    padding: 15px;
  }
  