.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
}

  
section {
  margin: 20px
}

.App-link {
  color: #61dafb;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.label{
  display: flex;
  flex-direction: column;
  width: 35%;

}
.btnSubmit{
  background-color: #0D6EFD;
  color: white;
  border: none;
  border-radius: 8px; 
  padding: 5px 20px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilo general del Accordion */
.custom-accordion {
  border: 10px solid #0b1115; /* Color del borde del Accordion */
  border-radius: 8px; /* Bordes redondeados */
   }
   /* Estilo de los ítems del Accordion */
.custom-accordion-item {
  background-color: #228d32; /* Color de fondo de los ítems */
  border-bottom: 1px solid #dee2e6; /* Borde inferior de los ítems */
   }
   /* Estilo del encabezado del Accordion */
.custom-accordion-header {
  background-color: #1d7f30; /* Color de fondo del encabezado */
  color: #ffffff; /* Color del texto del encabezado */
}